body{
    background-image: url("../images/dprianwallpaper.png");
    background-size: cover;

}

.init {
    color: rgb(255, 255, 255)  !important;
    font-family: 'Source Code Pro', monospace;
    color: white  !important;
}

.formTitle {
    
    font-size: 3rem;
    color: rgb(0, 0, 0)   !important;
}

.generalButton {
    font-family: 'Eater', cursive;
    margin-top: 10px;
    background-color: white  !important;
    color: rgb(0,0,0);
    border: none;
    padding: 6px 15px;
}

.startGame {
    font-family: 'Eater', cursive;
    font-size: 2rem;
    letter-spacing: .2rem;
    margin-top: 10px;
    background-color : #26140e !important;
    color: rgb(255, 255, 255)   !important;
    border: none;
    padding: 10px 20px;
    z-index: 1;
}

.stopGame {
    font-family: 'Eater', cursive;
    letter-spacing: .2rem;
    margin-top: 10px;
    background-color: #26140e  !important;
    color: rgb(255, 255, 255)   !important;
    border: none;
    padding: 6px 15px;
}