body{
    background-image:  url("../images/iconsW.gif");


}


h1{
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}
header  {
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}
footer{
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}
#table{
    margin: auto;

}
.container{

  margin: 0;

}
td img{
     width: 3cm;
     height: 3cm;
}

