body{
    background-image : url("../images/jacksonwallpaper.jpeg");
}

.init{
    color: white;
}

.container {
    font-family: 'Jazz LET' , 'fantasy';
}

.generalButton {
    margin-top: 10px;
    background-color: rgb(97, 6, 6);
    border: none;
    padding: 6px 15px;
    color: white;
}

.startGame {
    font-weight: bold;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
}

.stopGame {
    font-weight: bold;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 6px 15px;
}
