

.init{
    text-align: center;
}
#members {
    font-size: large;
}
.table-wrapper-scroll-y {
    display: block;
    max-height: 200px;
    overflow-y: scroll;


}


footer{
    font-size: large;
    text-align: center;

}
#table{
    margin: auto;

}

table {
    border:none !important;
    border-spacing: 10px 0 !important;
    /* override bootstrap default */
    border-collapse:separate !important;
}

td {
    background: pink;
    padding: 1em;
    /* for demo only - not a border */
    outline:5px solid lightgrey;
}

td img{
    width: 3cm;
    height: 3cm;
}

