

.init{
    text-align: center;
}
#members {
    font-size: large;
}
.table-wrapper-scroll-y {
    display: block;
    max-height: 200px;
    overflow-y: scroll;


}


footer{
    font-size: large;
    text-align: center;

}
#table{
    margin: auto;

}

table{
    border-width: 10px;
    border-style: solid;
    border-collapse: separate;
    width: 400px;
}

tr, th, td{
    border-width:10px;
    border-style: solid;
    border-color: white;
}

td img{
    width: 3cm;
    height: 3cm;
}


